@import "../node_modules/normalize.css/normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  width: 100vw;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-blue: #000428;
  --deep-blue: #004e92;
  --main-typography: #f5ebf6;

  color: var(--main-typography);
  background: linear-gradient(0deg, var(--deep-blue) 0%, var(--dark-blue) 100%);
}

body {
  padding: 40px 58px;
}

/** =============== FONTS ================ **/

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
}
