@import "../node_modules/normalize.css/normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  /* width: 100%; */
  /* height: 100vh; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-blue: #000428;
  --deep-blue: #004e92;
  --bright-blue: #2e98f2;
  --light-blue: #75bdfb;
  --bg-secondary: #002659;
  --bg-footer: #00133e;
  --bg-input: #093a7b;
  --errors: #ef5050;
  --main-typography: #f5ebf6;

  color: var(--main-typography);
  background: linear-gradient(0deg, var(--deep-blue) 0%, var(--dark-blue) 100%);
}

/* body {
  padding: 40px 58px;
} */

::-webkit-scrollbar {
  width: 12px;
  background: var(--light-blue);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, var(--dark-blue) 0%, var(--deep-blue) 100%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, var(--deep-blue) 0%, var(--dark-blue) 100%);
}

::-webkit-scrollbar-track {
  background: var(--light-blue);
  border-radius: 6px;
}

/** =============== FONTS ================ **/

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
}
